opencv-python
mediapipe
gTTS
PyAutoGUI
dlib
scipy
absl-py==1.0.0
asgiref==3.5.0
astunparse==1.6.3
beautifulsoup4==4.10.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
cmake==3.22.1
colorama==0.4.4
cvlib==0.2.6
cycler==0.10.0
Django==4.0.1
dlib==19.22.1
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
flatbuffers==2.0
gast==0.4.0
google-api-core==2.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-cloud-speech==2.12.0
google-pasta==0.2.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
grpcio-status==1.43.0
h5py==3.6.0
idna==3.3
imageio==2.14.0
importlib-metadata==4.10.1
imutils==0.5.4
Js2Py==0.71
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==12.0.0
libcst==0.4.0
Markdown==3.3.6
matplotlib==3.4.3
MouseInfo==0.1.3
mypy-extensions==0.4.3
numpy==1.21.2
oauthlib==3.1.1
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
Pillow==8.3.2
pipwin==0.5.1
progressbar==2.5
proto-plus==1.19.8
protobuf==3.19.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/wenhi/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyPrind==2.11.3
PyRect==0.1.4
PyScreeze==0.1.28
pySmartDL==1.3.4
python-dateutil==2.8.2
pytweening==1.0.4
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
scipy==1.7.3
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
torch==1.10.1
torchvision==0.11.2
typing-inspect==0.7.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.7.0
